// variables
$grey: rgb(104, 104, 104);
$crimson: #b3999e;
$brown: #59202e;
$beige: #eccfb9;
$gold: #ffc37e;
$blue: #bbc6e9;

$form-background-color: lightblue;
$disabled-color: #b3b3b3;
$cancel-color: red;
$confirm-color: rgb(114, 231, 114);

$app-font: Cormorant, Verdana, Geneva, Tahoma, sans-serif;

// heights
$comment-height: 50px;
$setting-height: 4em;

// sizes
$media-button-size: 60px;
$media-button-margin: 20px;
$button-outset: 4px;
$comment-border-style: solid;
$comment-border-color: $gold;
$comment-border-width: 2px;
$comment-border: $comment-border-width $comment-border-style
  $comment-border-color;

// mix-ins
@mixin flex-centred {
  display: flex;
  justify-content: center;
  align-items: center;
}

// @mixin transform-centred {
//   position: absolute;
//   left: 50%;
//   top: 50%;
//   transform: translate(-50%, -50%);
// }

@mixin full-size {
  width: 100%;
  height: 100%;
}

@mixin size-media-buttons {
  width: $media-button-size;
  height: $media-button-size;
}

@mixin full-height {
  height: 100%;
}

@mixin parent-percentages {
  position: relative;
  & & {
    position: relative;
  }
}

@mixin fit-and-centre-media {
  object-fit: contain;
  position: absolute;
  transform: translateX(-50%);
}

@mixin button-3d($offset: false) {
  border: 5px outset;
  box-shadow: -($button-outset / 2) ($button-outset / 2) white,
    -($button-outset) $button-outset ($button-outset * 2) $grey;

  -webkit-tap-highlight-color: transparent;

  &:active {
    @if $offset {
      @each $direction, $value in $offset {
        @if $direction == "right" {
          right: calc($value + $button-outset);
        } @else if $direction == "left" {
          left: calc($value - $button-outset);
        } @else if $direction == "top" {
          top: calc($value + $button-outset);
        } @else if $direction == "bottom" {
          bottom: calc($value - $button-outset);
        }
      }
    } @else {
      // no provided offset
      right: $button-outset;
      top: $button-outset;
    }
    box-shadow: -($button-outset) $button-outset $button-outset rgb(202, 202, 202);
    border-style: inset;
    user-select: none;
  }
}
