@import "../constants/constants";

// GENERAL STYLES
.App {
  text-align: center;
  display: grid;
  grid-template-rows: 50px 1fr;
  box-sizing: border-box;

  input,
  select,
  textarea {
    font-family: inherit;
    font-size: 100%;
  }

  fieldset {
    padding: 0;
  }

  // APP STYLES
  main {
    a,
    .link {
      text-decoration: none;
      border-bottom: 2px dashed;
      cursor: pointer;
      color: blue;
      border-color: blue;
      &:link {
        color: blue;
        border-color: blue;
      }
      &:visited {
        color: purple;
        border-color: purple;
      }
      &:hover {
        border: none;
      }
      &:active {
        border: 2px dashed;
      }
    }
  }
}

#appcontainer {
  height: 100%;
  display: grid;
  grid-template-rows: 1fr 140px;
}

button {
  border: none;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

.bold {
  font-weight: bold;
}
