@import "../constants/constants";

#userbuttonsettings {
  margin-top: $setting-margin;
  height: min-content;
}

#userbuttonsettings,
.editbutton {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formuserbuttoncontainer {
  height: 100px;
  width: 300px;
}

.clickinstruction {
  background-color: $beige;
  border: 2px solid red;
  width: calc(100% - (#{$setting-margin} * 4));
}
