.buttoneditorform {
  width: 100%;
}

.buttoneditorform > * {
  margin: 1em 0;
}

.buttoneditorform .formbuttons {
  height: 4em;
  margin: 0 1em;
}

.buttoneditorform .submit:disabled,
.buttoneditorform .delete:disabled {
  background-color: #b3b3b3;
  color: #bbc6e9;
}

.buttoneditorform input:not([type="color"]),
.buttoneditorform select {
  width: 100%;
}

.sublegend {
  font-size: 1.5rem;
}

.editbutton {
  background-color: #bbc6e9;
  width: calc(100% - 2em);
}

.editbutton .buttoncontainer {
  height: 100px;
  width: 300px;
  margin: 0;
}

.editbutton:not(div:last-of-type) {
  margin-bottom: 1em;
}

.editbutton > * {
  margin: 1em 0;
}

.editnewbutton {
  background-color: transparent;
}

input[type="color"] {
  width: 2em;
  height: 2em;
  border: none;
  outline: none;
  border-radius: 50%;
  -webkit-appearance: none;
}

input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
}

input[type="color"]::-webkit-color-swatch {
  border: none;
  border-radius: 50%;
}

.fontselect {
  font-size: 2em;
}

.subredditlistitem {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50px (1fr)[2] 80px;
      grid-template-columns: 50px repeat(2, 1fr) 80px;
      grid-template-areas: "delete subreddit subreddit icon" "info info info info";
  background-color: #b89098;
  margin: 1em;
  -ms-grid-rows: 80px;
      grid-template-rows: 80px;
}

.subredditlistitem .delete {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: delete;
}

.subredditlistitem .subredditname,
.subredditlistitem #newsubreddit {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: subreddit;
}

.subredditlistitem .icon {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
  grid-area: icon;
}

.subredditlistitem .subredditvalidity {
  grid-area: validity;
}

.subredditlistitem button {
  font-family: Cormorant, Verdana, Geneva, Tahoma, sans-serif;
  font-size: 100%;
  font-weight: bold;
}

.subredditlistitem .delete {
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

@media screen and (max-width: 450px) {
  .subredditlistitem .delete {
    width: 30px;
    height: 30px;
  }
}

.buttonstyle {
  display: -ms-grid;
  display: grid;
}

.buttonstyle .setting:not(:first-child) {
  margin-top: 0;
}

.deletesubredditcontainer {
  background-color: #bbc6e9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.subredditname {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 7fr;
      grid-template-columns: 1fr 7fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.subredditlistitem input,
#newsubreddit {
  height: 100%;
}

.newsubreddit {
  background-color: #bbc6e9;
}

.newsubreddit .subredditname {
  background-color: #b89098;
}

.checkingstatus {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2em;
  overflow: hidden;
}

.subredditdetails {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  grid-column: 1 / -1;
  background-color: #f7eae0;
}

.icon {
  position: relative;
  background-color: #bbc6e9;
}

.icon > * {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  max-height: 100%;
  max-width: 100%;
}

.icon p {
  display: block;
  font-size: 2em;
  width: 100%;
  height: 100%;
  top: 25%;
}

.duplicatesubredditalert {
  -ms-grid-column: 4;
      grid-column-start: 4;
  font-size: 2.5em;
  color: red;
}

.exclamationcontainer {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 4px solid red;
}

.exclamationcontainer p {
  font-size: 50px;
  line-height: 50px;
}
