@import "../constants/constants";

.buttoncontainer {
  padding: 20px 10px;
  button {
    @include full-size;
    @include button-3d;
    position: relative;
    font-size: 2em;
    line-height: 1em;
    display: block;
    border-radius: 25px / 50%;
    text-shadow: 5px 5px 7px $grey;
    user-select: none;
    &:disabled {
      opacity: 30%;
    }
  }
}
