#userbuttonsettings {
  margin-top: 1em;
  height: min-content;
}

#userbuttonsettings,
.editbutton {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.editbutton {
  width: 100%;
  .buttoncontainer {
    height: 100px;
    width: 300px;
    margin: 0;
  }
}

.editbutton > * {
  margin: 1em 0;
}

.formuserbuttoncontainer {
  height: 100px;
  width: 300px;
}
