@import "../constants/constants";

#userbuttonsettings {
  margin-top: $setting-margin;
  height: min-content;
}

#userbuttonsettings,
.editbutton {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formuserbuttoncontainer {
  height: 100px;
  width: 300px;
}
