#canvas {
  flex: 1;
  overflow: auto;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  // APP STYLES
  a {
    text-decoration: none;
    border-bottom: 2px dashed;
    &:link {
      color: blue;
      border-color: blue;
    }
    &:visited {
      color: purple;
      border-color: purple;
    }
    &:hover {
      border: none;
    }
    &:active {
      border: 2px dashed;
    }
  }
}

#post {
  background-color: lightgoldenrodyellow;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: min-content 1fr 50px;
  overflow-x: hidden;
}
