#canvas {
  height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  overflow: auto;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#canvas #promptcontainer {
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  height: 100%;
}

#post {
  background-color: #f7eae0;
  height: 100%;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: min-content 1fr 50px;
      grid-template-rows: -webkit-min-content 1fr 50px;
      grid-template-rows: min-content 1fr 50px;
  overflow-x: hidden;
}
