@import "../constants/constants";

#canvas {
  flex: 1;
  overflow: auto;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  #promptcontainer {
    align-self: start;
    height: 100%;
  }
}

#post {
  background-color: $beige;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: min-content 1fr $comment-height;
  overflow-x: hidden;
}
