@import "../constants/constants";

#comments {
  position: absolute;
  background-color: whitesmoke;
  bottom: 0;
  width: 100%;
  transition: height ease-in-out 0.4s;
  z-index: 10;
}

#commentheader {
  display: flex;
  background-color: $blue;
  justify-content: center;
  align-items: center;
  height: $comment-height;
  position: sticky;
  top: 0;
  width: 100%;
}

.commentcontainer {
  padding-top: 20px;
}

.commentbox > *:last-child {
  text-align: end;
}

.commentbox > * {
  margin: 0.2em 0;
}

.commentbox {
  margin: 2em;
}

.commentcontent {
  text-align: left;
  font-size: larger;
  /* allow links to break */
  word-wrap: break-word;
}
