@import "../constants/constants";

.formbuttons {
  display: grid;
  grid-template-rows: $setting-height;
  width: calc(100% - #{$setting-margin * 2});
  margin: 1em;
  height: (2 * $setting-height);
  button {
    display: block;
    flex-grow: 1;
    flex-shrink: 0;
    height: 100%;
    @include form-button;
  }
}

.submitsuccess {
  grid-column-start: 1;
  grid-column-end: -1;
  padding: 0;
  @include flex-centred;
  font-size: 1.3em;
}
