#infobox {
  max-width: 1000px;
  padding: 0 2em;
  text-align: left;
}

#infobox p,
#infobox h2 {
  margin: 1em 1rem;
}

#infobox p {
  line-height: 1.5em;
}

.question {
  font-style: italic;
}

.infoheader {
  font-style: italic;
  letter-spacing: 0.05em;
}

.infoheader:not(:first-of-type) {
  margin-top: 2em;
}
