@import "../constants/constants";

#infobox {
  max-width: $max-info-width;
  text-align: left;
  p,
  h2 {
    margin-left: 2rem;
  }
}

.question {
  font-style: italic;
}

.infoheader {
  @include spaced-italics;
  &:not(:first-of-type) {
    margin-top: 2em;
  }
}
