@import "../constants/constants";

nav {
  height: 50px;
  background-color: lightgoldenrodyellow;
  @include flex-centred;
  padding: 0 10px;

  & > * {
    padding: 1rem;
  }

  a {
    text-decoration: none;
  }
}

#home {
  font-weight: bold;
  font-size: larger;
}

#userbar {
  height: 40px;
  display: flex;
  align-items: center;
  border-radius: 20px;
  background-color: white;
  padding: 0 5px;
}

#username {
  display: flex;
  p {
    display: none;
  }
  .name1 {
    @media screen and (min-width: 430px) {
      display: inline-block;
      padding: 0 10px;
    }
  }
  .name2 {
    @media screen and (min-width: 550px) {
      display: inline-block;
      padding-right: 10px;
    }
  }
}

.userpic {
  height: 30px;
  width: 30px;
  border-radius: 50%;
}

div.userpic {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lawngreen;
  color: white;
}

#home {
  margin-right: auto;
}
