@import "../constants/constants";

nav {
  height: $nav-height;
  background-color: $beige;
  @include flex-centred;

  & > * {
    padding: 0 1rem;
  }

  a {
    text-decoration: none;
    border: none;
    color: black;
  }
}

.about,
#home {
  @include flex-centred;
  height: 100%;
}

#home {
  font-weight: bold;
  font-size: larger;
}

$user-margin: 5px;
$user-height: ($nav-height - (2 * $user-margin));

.userbar {
  height: $user-height;
  display: flex;
  align-items: center;
  border-radius: ($user-height / 2);
  padding: 0 $user-margin;
  background-color: white;
  margin: 0 (2 * $user-margin);
  cursor: pointer;
}

.selected {
  background-color: $gold;
}

#username {
  display: flex;
  p {
    display: none;
  }
  .name1 {
    @media screen and (min-width: 430px) {
      display: inline-block;
      padding: 0 0.5em;
    }
  }
  .name2 {
    @media screen and (min-width: 550px) {
      display: inline-block;
      padding-right: 0.5em;
    }
  }
}

$user-pic-length: ($user-height - (2 * $user-margin));

.userpic {
  height: $user-pic-length;
  width: $user-pic-length;
  border-radius: 50%;
}

div.userpic {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lawngreen;
  color: white;
}

#home {
  margin-right: auto;
}
