@import "../constants/constants";

#promptcontainer {
  width: 100%;
  overflow-y: scroll;
  grid-row: 2 / -1;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: whitesmoke;
  ul {
    text-align: left;
  }
}

.promptbuttons {
  display: flex;
  justify-content: center;
  margin: 0 1em;
  button {
    font-family: $app-font;
    font-size: 1.1em;
    height: 100%;
    padding: 1em;
    font-weight: bold;
  }
  .cancel {
    margin: 0 1em 0 0;
  }
  @media screen and (orientation: portrait) {
    flex-direction: column;
    align-items: center;
    .cancel {
      margin: 0 0 1em 0;
    }
  }
}

#prompt {
  max-width: $max-info-width;
  margin: 0;
  aside {
    margin-top: 3em;
    padding: 0.5em 1em;
    background-color: white;
    h3 {
      font-size: 1.3em;
      @include spaced-italics;
    }
  }
}
