@import "../constants/constants";

.promptbuttons {
  button {
    font-family: $app-font;
    font-size: 1.1em;
    height: 100%;
    padding: 1em;
    font-weight: bold;
  }
  .cancel {
    margin-right: 1em;
  }
}

#promptcontainer {
  @include flex-centred;
}

#prompt {
  max-width: $max-info-width;
  aside {
    margin-top: 3em;
    padding: 0.5em 1em;
    background-color: white;
    h3 {
      font-size: 1.3em;
      @include spaced-italics;
    }
  }
}
