@import "../constants/constants";

input[type="text"],
select,
option,
.numbercontainer {
  height: 100%;
}
input:not([type="color"]),
select,
option {
  padding-left: 2em;
}

input:not([type="color"]):not([type="radio"]) {
  box-sizing: border-box;
  height: 100%;
}

#settingscontainer {
  @include flex-centred;
  flex-direction: column;
}

.settingsform {
  background-color: $gold;
  width: 100%;
  max-width: $max-info-width;
}

.mainlegend {
  font-size: 2em;
  font-style: italic;
  margin: 0.4em 0;
}

fieldset {
  border: none;
}

.fieldsetcontainer {
  position: relative;
}

legend {
  display: inline-block;
}

.extradetails {
  display: block;
  font-style: italic;
  letter-spacing: 0.5px;
  padding: 20px;
  margin: 0;
}

.warning {
  color: red;
}

.keyvaluepair,
.numbercontainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  position: relative;
}

.setting {
  background-color: $beige;
  margin: $setting-margin;
}

.keyvaluepair {
  @include form-parameter;
}

.radiovalues {
  display: flex;
  justify-content: space-around;
  align-items: center;
  input:first-of-type {
    margin-right: 20px;
  }
}

// button styles

.twobuttons {
  grid-template-columns: repeat(2, 1fr);
}

.threebuttons {
  grid-template-columns: repeat(3, 1fr);
}

.cancel {
  color: $cancel-color;
  border: 4px solid $cancel-color;
  background-color: transparent;
  &:disabled {
    color: $disabled-color;
    border-color: $disabled-color;
  }
}

.submit {
  color: white;
  background-color: $confirm-color;
  border: 4px solid $confirm-color;
  &:disabled {
    border-color: $disabled-color;
    background-color: $disabled-color;
    color: $gold;
  }
}

.delete {
  color: white;
  background-color: $cancel-color;
}
