@import "../constants/constants";

#spinner {
  height: 100px;
  width: 100px;
  position: relative;
  @include flex-centred;
}

.antenna {
  position: absolute;
  top: 0;
  height: 50px;
  width: 60px;
}

.spinning {
  animation: spin 0.8s ease-in-out infinite;
}

@keyframes spin {
  0% {
    transform: scaleX(1);
  }
  20% {
    transform: scaleX(0);
  }
  40% {
    transform: scaleX(-1);
  }
  60% {
    transform: scaleX(0);
  }
  80% {
    transform: scaleX(1);
  }
  100% {
    transform: scaleX(1);
  }
}

.angle {
  border-left: 4px solid black;
  border-top: 4px solid black;
  height: 50%;
  width: 50%;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: rotate(10deg);
}

$bobble-size: 10px;

.bobble {
  position: absolute;
  top: 16px;
  right: -10px;
  height: $bobble-size;
  width: $bobble-size;
  border-radius: 50%;
  background-color: white;
  border: 4px solid black;
}

.spinnero {
  position: absolute;
  bottom: 0;
  height: 50%;
  width: calc(100% - 8px);
  border: 4px solid black;
  border-radius: 50%;
  background-color: white;
}
