@import "../constants/constants";

video {
  @include fit-and-centre-media;
  @include full-size;
}

.hostedvideo {
  @include full-size;
  & > * {
    left: 0;
    top: 0;
  }
}

#playpause {
  position: absolute;
  right: $media-button-margin;
  bottom: $media-button-margin;
  z-index: 2;
  @include size-media-buttons;
  @include button-3d;
  &:active {
    right: $media-button-margin + $button-outset;
    bottom: $media-button-margin - $button-outset;
  }
  border: 5px solid white;
  border-radius: 50%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

#playpause > img {
  position: relative;
  height: 100%;
}

#volumecontrols {
  position: absolute;
  left: $media-button-margin;
  bottom: $media-button-margin;
  height: $media-button-size;
  z-index: 2;
  display: flex;
}

#volumecontrols > * {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border: 5px solid black;
  position: relative;
  @include size-media-buttons;
  @include button-3d;
}

#volumecontrols p {
  font-size: 2em;
  font-weight: bold;
}

#volumecontrols img {
  margin: 0;
}

#volumeup {
  border-radius: 50% 0 0 50%;
  border-right-width: 2.5px;
  z-index: 3;
}

#volumedown {
  border-radius: 0 50% 50% 0;
  border-left-width: 2.5px;
}
