.App {
  font-family: "Cormorant", sans-serif;
  text-align: center;
  display: grid;
  grid-template-rows: 50px 1fr 20%;
}

a {
  text-decoration: none;
  color: black;
}

/* nav styles */
nav {
  min-height: 50px;
  background-color: lightgoldenrodyellow;
  display: flex;
  justify-content: center;
}
nav > * {
  padding: 1rem;
}

#home {
  margin-right: auto;
}

/* canvas styles */
#canvas {
  flex: 1;
  overflow: auto;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

#post {
  background-color: lightgoldenrodyellow;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: min-content 1fr 50px;
}

.posttitle {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: min-content;
}

.posttitle,
.textpost {
  padding: 0 20px;
}

.mediacontainer {
  position: relative;
  height: 100%;
}

video,
img {
  height: 100%;
  width: 100%;
  object-fit: contain;
  position: absolute;
  transform: translateX(-50%);
}

.textpost {
  text-align: justify;
  overflow-y: scroll;
}

iframe {
  width: 100%;
}

#comments {
  position: absolute;
  background-color: whitesmoke;
  bottom: 0;
  width: 100%;
  transition: height ease-in-out 0.4s;
}

/* button styles */

#buttonContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: lightgoldenrodyellow;
  width: 100%;
  min-height: 100px;
}

button {
  padding: 2rem;
}
